aiofiles~=24.1.0
docx2md~=1.0.4
fastapi[all]~=0.116.1
langchain~=0.3.27
langchain-gigachat~=0.3.12
langgraph~=0.6.7
pymupdf4llm>=0.0.27
redis>=6.4.0
redisvl>=0.8.2
langchain-core~=0.3.75
langchain-text-splitters~=0.3.11
pydantic~=2.11.7
python-dotenv~=1.1.1
pydantic-settings~=2.10.1
embeddings-service[langchain] @ git+https://github.com/Andr171p/embeddings-service.git
uvicorn~=0.35.0
langchain-elasticsearch~=0.3.2
langchain-community~=0.3.30
faststream~=0.6.2
websockets~=15.0.1
SQLAlchemy~=2.0.43